<app-excel-upload (bulkUploadComplete)="onBulkUploadComplete()">
</app-excel-upload>

<!-- Delete All Button -->

<div class="action-buttons">
  <button
    mat-raised-button
    color="warn"
    (click)="deleteAllProfiles()"
    [disabled]="profiles.length === 0 || ($loading | async)"
  >
    Delete All
  </button>
  <button mat-raised-button color="primary" (click)="downloadProfilesAsExcel()">
    Download Profiles as Excel
  </button>
  <!-- Add other buttons like Add Profile, Delete All, etc. -->
</div>

<!-- Save Message -->
<div *ngIf="saveMessage" class="save-message">{{ saveMessage }}</div>

<app-profile-form
  [profileForm]="profileForm"
  [editingProfileId]="editingProfileId"
  [selectedImage]="selectedImage"
  [$loading]="$loading"
  (submitProfile)="addOrUpdateProfile()"
  (resetProfileForm)="resetForm()"
  (imageSelected)="onFileSelected($event)"
  (imageCleared)="clearImage()"
  (typeChanged)="onTypeChanged($event)"
></app-profile-form>

<!-- Display Existing Profiles -->
<h2 class="title">Existing Profiles</h2>
<div class="profile-wrapper">
  <app-profile-card
    *ngFor="let profile of profiles"
    [profile]="profile"
    (deleteProfile)="onDeleteProfile($event)"
    (editProfile)="onEditProfile($event)"
  ></app-profile-card>
</div>
