.form-card {
  width: 100%;
  margin: 0 auto 40px;
  padding-bottom: 20px;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.file-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-name {
  font-style: italic;
  color: #757575;
}

.image-preview {
  text-align: center;
  margin-top: 20px;
}

.image-preview img {
  max-width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.input-form-content.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

.mat-mdc-card-actions {
  position: absolute;
  right: 10px;
  top: calc(100% - 70px);
}
