<div class="home">
  <h1>Dashboard</h1>
  <button
    class="preview"
    mat-raised-button
    color="primary"
    (click)="navigateToProfiles()"
    *ngIf="isLogIn$ | async"
  >
    Profiless
  </button>
  <button
    class="preview"
    mat-raised-button
    color="primary"
    (click)="navigateToLogin()"
    *ngIf="!(isLogIn$ | async)"
  >
    Login
  </button>
</div>

<div class="flex flex-wrap items-start w-full justify-center px-2 mb-3">
  <div class="flex items-start gap-5 mt-10 max-w-[1200px] w-full">
    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select
        [(value)]="selectedType"
        (selectionChange)="onTypeChanged($event.value)"
      >
        <mat-option value="profiles">Profiles</mat-option>
        <mat-option value="adwokaci">Adwokaci</mat-option>
        <mat-option value="radcowie">Radcowie</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <mat-select
        [(value)]="selectedCity"
        (selectionChange)="onCityChanged($event.value)"
      >
        <mat-option value="">Default</mat-option>
        <mat-option value="warszawa">warszawa</mat-option>
        <mat-option value="poznan">poznan</mat-option>
        <mat-option value="wroclaw">wroclaw</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-profile-main
    class="max-w-[1200px] w-full mt-2"
    *ngFor="let profile of profiles"
    [profile]="profile"
  ></app-profile-main>
</div>
