<div class="flex flex-wrap items-start w-full justify-center">
  <div class="relative m-2 max-w-[1200px] w-full">
    <h1 class="mb-0">Dashboard</h1>
    <button
      class="absolute top-0 right-0"
      mat-raised-button
      color="primary"
      (click)="navigateToProfiles()"
      *ngIf="isLogIn$ | async"
    >
      Profiles
    </button>
    <button
      class="!absolute top-0 right-0"
      mat-raised-button
      color="primary"
      (click)="navigateToLogin()"
      *ngIf="!(isLogIn$ | async)"
    >
      Login
    </button>
  </div>
</div>

<div class="flex flex-wrap items-start w-full justify-center px-4 mb-3">
  <div class="flex items-start gap-3 mt-2 max-w-[1200px] w-full">
    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select
        [(value)]="selectedType"
        (selectionChange)="onTypeChanged($event.value)"
      >
        <mat-option value="profiles">Profiles</mat-option>
        <mat-option value="adwokaci">Adwokaci</mat-option>
        <mat-option value="radcowie">Radcowie</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <mat-select
        [(value)]="selectedCity"
        (selectionChange)="onCityChanged($event.value)"
      >
        <mat-option value="">Default</mat-option>
        <mat-option value="warszawa">Warszawa</mat-option>
        <mat-option value="poznan">Poznań</mat-option>
        <mat-option value="wroclaw">Wrocław</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <h1 *ngIf="!profiles">Nothing to see from server</h1>
  <app-profile-main
    class="max-w-[1200px] w-full mt-1"
    *ngFor="let profile of paginatedProfiles"
    [profile]="profile"
  ></app-profile-main>
  <mat-paginator
    [length]="profiles.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 25, 50, 100]"
    [showFirstLastButtons]="true"
    aria-label="Select page"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
