@use "themes" as themes;
@use "components" as components;

@import "@angular/material/prebuilt-themes/indigo-pink.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.light-theme,
.light-theme body {
  background-color: themes.theme-color(light, background);
  color: themes.theme-color(light, white);
}

.light-theme {
  @include components.buttons(light);
  @include components.cards(light);
  @include components.forms(light);
}

.dark-theme,
.dark-theme body {
  background-color: themes.theme-color(dark, background);
  color: themes.theme-color(dark, white);
}

.dark-theme {
  @include components.buttons(dark);
  @include components.cards(dark);
  @include components.forms(dark);
}

html,
body {
  height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

app-root {
  position: relative;
}
