@use "themes" as themes;
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "palettes";

@tailwind base;
@tailwind components;
@tailwind utilities;

.light-theme {
  @include themes.light;
  background-color: $light-1;
  color: $light-white;
}

// Dark Theme Styles
.dark-theme {
  @include themes.dark;
  background-color: $dark-1;
  color: $dark-white;
}

html,
body {
  height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

app-root {
  position: relative;
}
