@use "palettes";

$dark-theme-colors: (
  primary: palettes.$dark-1,
  secondary: palettes.$dark-2,
  accent: palettes.$dark-green,
  background: palettes.$dark-1,
  text: palettes.$dark-white,
  white: palettes.$dark-white,
  border: palettes.$dark-white,
  input-bg: palettes.$dark-1,
  input-text: palettes.$dark-white,
);

$light-theme-colors: (
  primary: palettes.$light-1,
  secondary: palettes.$light-2,
  accent: palettes.$light-beige,
  background: palettes.$light-1,
  text: palettes.$light-white,
  white: palettes.$light-white,
  border: palettes.$light-white,
  input-bg: palettes.$light-1,
  input-text: palettes.$light-white,
);

$themes: (
  light: $light-theme-colors,
  dark: $dark-theme-colors,
);

@function theme-color($theme, $color) {
  @return map-get(map-get($themes, $theme), $color);
}
