$max-width: 1325px;

$dark-1: #222831;
$dark-2: #565765;
$dark-green: #76abae;
$dark-white: #cccccc;

$light-1: #ffffff;
$light-2: #f4f3f3;
$light-accent: #76abae;
$light-white: #f5eded;
$light-text: #444444;
