<!-- profile.component.html -->
<button mat-raised-button color="primary" class="logout" (click)="logout()">
  Logout
</button>
<button mat-raised-button color="primary" class="dashboard" routerLink="/">
  Dashboard
</button>
<app-excel-upload
  (bulkUploadComplete)="onBulkUploadComplete()"
  [selectedType]="selectedType"
>
</app-excel-upload>

<div class="flex items-start gap-5 mt-10">
  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select
      [(value)]="selectedType"
      (selectionChange)="onTypeChanged($event.value)"
    >
      <mat-option value="profiles">Profiles</mat-option>
      <mat-option value="adwokaci">Adwokaci</mat-option>
      <mat-option value="radcowie">Radcowie</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>City</mat-label>
    <mat-select
      [(value)]="selectedCity"
      (selectionChange)="onCityChanged($event.value)"
    >
      <mat-option value="">Default</mat-option>
      <mat-option value="warszawa">warszawa</mat-option>
      <mat-option value="poznan">poznan</mat-option>
      <mat-option value="wroclaw">wroclaw</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<h1 *ngIf="!profiles">No profiles uploaded from server</h1>
<h3 [style.color]="'red'" *ngIf="error">{{ error }}</h3>

<div class="flex items-start gap-2">
  <button mat-raised-button color="primary" (click)="openAddProfileDialog()">
    Add Profile
  </button>
  <button
    mat-raised-button
    color="warn"
    (click)="deleteAllProfiles()"
    [disabled]="profiles.length === 0 || ($loading | async)"
  >
    Delete All
  </button>
  <button mat-raised-button color="primary" (click)="downloadProfilesAsExcel()">
    Download Profiles to Excel
  </button>

  <button mat-raised-button color="primary" (click)="logGouppedByCompany()">
    Log profiles groupped by Company
  </button>
</div>

<div *ngIf="saveMessage" class="save-message">{{ saveMessage }}</div>

<div class="mt-8">
  <h2 class="title mb-0">Existing Profiles</h2>
  <div class="profile-wrapper">
    <app-profile-card
      *ngFor="let profile of profiles"
      [profile]="profile"
      (deleteProfile)="onDeleteProfile($event)"
      (editProfile)="onEditProfile($event)"
    ></app-profile-card>
  </div>
</div>
