/* Profile Grid Styling */
:host {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px;
}

.profile-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 0 20px;
}

.logout,
.dashboard {
  position: absolute;
  top: 0;
  right: 0;
}

.dashboard {
  right: auto;
  left: 0;
}
