/* Profile Grid Styling */
.profile-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 20px 0;
}

.logout,
.dashboard {
  position: absolute;
  top: 0;
  right: 0;
}

.dashboard {
  right: auto;
  left: 0;
}
