<!-- Theme Toggle Switch -->
<div
  (click)="toggleTheme($event)"
  class="theme-toggle w-12 h-6 ml-5 mt-2 rounded-full relative cursor-pointer transition-colors duration-200"
  [ngClass]="{
    'bg-gray-500': isDark,
    'bg-gray-200': !isDark
  }"
  aria-label="Toggle Theme"
>
  <div
    class="toggle-button w-6 h-6 rounded-full shadow-md absolute top-0 left-0 transition-transform duration-200 flex items-center justify-center"
    [ngClass]="{
      'transform translate-x-6 bg-gray-900': isDark,
      'bg-blue-200': !isDark
    }"
  >
    <!-- Sun Icon for Light Mode -->
    <svg
      *ngIf="!isDark"
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 text-yellow-600"
      fill="#D97706"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        d="M12 2v2M12 20v2M4.22 4.22l1.42 1.42M16.95 16.95l1.42 1.42M2 12h2M20 12h2M4.22 19.78l1.42-1.42M16.95 7.05l1.42-1.42M12 6a6 6 0 100 12 6 6 0 000-12z"
      />
    </svg>
    <!-- Moon Icon for Dark Mode -->
    <svg
      *ngIf="isDark"
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 text-gray-600"
      fill="#FFFFFF"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
    </svg>
  </div>
</div>
