@use "mat-select" as matSelect;
@use "mat-input" as matInput;
@import "../palettes";

@mixin light {
  .mat-mdc-notch-piece.mdc-notched-outline__notch {
    border-right: none;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mat-mdc-notch-piece {
    border-width: 2px;
  }

  @include matSelect.light;
  @include matInput.light;
}

@mixin dark {
  .mat-mdc-notch-piece.mdc-notched-outline__notch {
    border-right: none;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mat-mdc-notch-piece {
    border-width: 2px;
    border-color: $dark-white;
  }

  @include matSelect.dark;
  @include matInput.dark;
}
