@import "../palettes";

@mixin light {
  mat-label {
    color: $light-white;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled),
  input.mdc-text-field__input {
    background-color: $light-1;
    box-shadow: 0 0 0 30px $light-1 inset !important;
    color: $light-white;
  }

  input,
  input::placeholder,
  input:-webkit-autofill {
    color: $light-white;
    -webkit-text-fill-color: $light-white;
  }

  .mat-mdc-form-field-required-marker {
    color: red;
  }
}
@mixin dark {
  mat-label {
    color: $dark-white;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled),
  input.mdc-text-field__input {
    background-color: $dark-1;
    box-shadow: 0 0 0 30px $dark-1 inset !important;
    color: $dark-white;
  }

  input,
  input::placeholder,
  input:-webkit-autofill {
    color: $light-white;
    -webkit-text-fill-color: $dark-white;
  }

  .mat-mdc-form-field-required-marker {
    color: red;
  }
}
