<mat-card
  class="profile-card"
  [class.expanded]="expanded"
  (click)="toggleExpanded()"
>
  <div *ngIf="profile.rank" class="rank">{{ profile.rank }}</div>
  <mat-card-header>
    <div mat-card-avatar class="profile-avatar">
      <img
        *ngIf="profile.image"
        [src]="'data:image/jpeg;base64,' + profile.image"
        alt="{{ profile.name }}"
      />
      <mat-icon *ngIf="!profile.image">person</mat-icon>
    </div>
    <mat-card-title>{{ profile.name }}</mat-card-title>
    <mat-card-subtitle>
      <p>{{ profile.email }}</p>
      <p>{{ profile.website }}</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="profile.address">
      <b>Lokalizacja:</b>
      <p>{{ profile.address }}</p>
    </div>
    <div *ngIf="profile.company">
      <b>Firma:</b>
      <p>{{ profile.company }}</p>
    </div>
  </mat-card-content>
  <div
    [@slideToggle]="expanded ? 'expanded' : 'collapsed'"
    class="expanded-content"
  >
    <div class="expanded-main">
      <p>
        <b>Więcej informacji o {{ profile.name }}</b>
      </p>
      <div *ngIf="profile.description">
        <b>Bio:</b>
        <p>{{ profile.description }}</p>
      </div>
    </div>
    <div class="expanded-side">Mapa</div>
  </div>
</mat-card>
