<mat-card
  class="profile-card"
  [class.expanded]="expanded"
  (click)="toggleExpanded()"
>
  <div *ngIf="profile.rank" class="rank">{{ profile.rank }}</div>
  <mat-card-header>
    <div mat-card-avatar class="profile-avatar">
      <img
        *ngIf="profile.image"
        [src]="'data:image/jpeg;base64,' + profile.image"
        alt="{{ profile.name }}"
      />
      <mat-icon *ngIf="!profile.image">person</mat-icon>
    </div>
    <mat-card-title>{{ profile.name }}</mat-card-title>
    <mat-card-subtitle>
      <p>{{ profile.email }}</p>
      <p class="website">
        <a
          [attr.href]="'https://' + profile.website"
          target="_blank"
          rel="noopener noreferrer"
          >{{ profile.website }}</a
        >
      </p>
      <app-rating
        [rating]="profile.stars"
        [opinions]="profile.opinions"
      ></app-rating>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="profile.address">
      <b>Lokalizacja:</b>
      <p>{{ profile.address }}</p>
    </div>
    <div *ngIf="profile.company">
      <b>Firma:</b>
      <p>{{ profile.company }}</p>
    </div>
    <div *ngIf="profile.telephone">
      <b>Telefon:</b>
      <p>{{ profile.telephone }}</p>
    </div>
    <div *ngIf="profile.specialization">
      <b>Specjalizacje:</b>
      <p>{{ profile.specialization }}</p>
    </div>
  </mat-card-content>
  <div
    [@slideToggle]="expanded ? 'expanded' : 'collapsed'"
    class="expanded-content"
  >
    <div class="expanded-main">
      <p>
        <b>Dodatkowe informacje o {{ profile.name }}</b>
      </p>
      <div *ngIf="profile.description">
        <p>{{ profile.description }}</p>
      </div>
    </div>
    <div class="expanded-side">
      <app-mini-map
        [latitude]="latitude"
        [longitude]="longitude"
      ></app-mini-map>
    </div>
  </div>
</mat-card>
