:host {
  width: 100%;
}

.profile-card {
  padding: 15px 15px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: row;
}

.rank {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  background-color: darkblue;
  color: white;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.mat-mdc-card-header {
  width: 30%;
  padding: 0;

  .profile-avatar {
    width: 100px;
    height: 100px;
    img {
      border-radius: 8px;
      object-fit: cover;
      width: 100px;
      height: 100px;
    }
    mat-icon {
      color: #9e9e9e;
      width: 100%;
      height: 100%;
      font-size: 100px;
    }
  }
}

.mat-mdc-card-content {
  width: 70%;
  padding: 0 40px 0 10px;
  &:last-child {
    padding-bottom: 0;
  }
}
