@use "../themes" as themes;

@mixin cards($theme) {
  .mat-mdc-card {
    cursor: pointer;
    background-color: themes.theme-color($theme, secondary);
    transition: background-color 0.1s ease-in-out;
    border: 1px solid transparent;
    &:hover {
      background-color: rgba(themes.theme-color($theme, secondary), 0.3);
      border: 1px solid #fff;
    }
  }
}
