@use "../themes" as themes;

@mixin forms($theme) {
  $input-bg: themes.theme-color($theme, input-bg);
  $input-text: themes.theme-color($theme, input-text);
  $white: themes.theme-color($theme, white);
  $border: themes.theme-color($theme, border);

  mat-label,
  .mat-mdc-select,
  .mat-mdc-select-arrow {
    color: $white;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled),
  input.mdc-text-field__input {
    background-color: $input-bg;
    box-shadow: 0 0 0 30px $input-bg inset !important;
    color: $input-text;
  }

  input,
  input::placeholder,
  input:-webkit-autofill {
    color: $input-text;
    -webkit-text-fill-color: $input-text;
  }

  .mat-mdc-form-field-required-marker {
    color: red;
  }

  .mat-mdc-notch-piece.mdc-notched-outline__notch {
    border-right: none;
    border-color: $border;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mat-mdc-notch-piece {
    border-width: 2px;
    border-color: $border;
  }
}
